.heroSec {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 5rem 0 10rem 0;
    height: 50dvh;
    /* background-color: blueviolet; */
    justify-content: space-between;

    & .subSec {
        display: flex;
        padding: 2rem;
        width: 100%;
        /* background-color: #d9d9d9; */
    }

    & .subSec:first-child {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;

        & .h1 {
            font-size: 5rem;
            text-transform: uppercase;
            font-weight: bold;
        }

        & .h3 {
            text-transform: uppercase;
            font-size: 1rem;
            font-style: italic;

            & .span {
                font-weight: bold;
            }
        }
    }

    & .subSec:last-child {
        /* justify-content: center; */
        align-items: center;
    }
}

.featureSec {
    display: flex;
    flex-direction: column;
    height: fit-content;
    /* gap: -2rem; */
    align-items: center;
    justify-content: center;
    margin: 10rem 0 0 0;
    width: 100%;

    & .h1 {
        margin-bottom: -30rem;
        text-transform: capitalize;
        font-size: 1.7rem;
        font-weight: 600;
        color: var(--color2);
    }
}

.bFeatureSec {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: auto 0 10rem 0;

    .subSec:first-child {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        gap: 2rem;

        .h1 {
            font-size: 1.5rem;
            font-weight: 700;
        }

        .h3 {
            padding: 0 3rem;
        }
    }

    .subSec:last-child {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: space-between;

        .card {
            border: 1px solid #d9d9d932;
            background: #ffffff13;
            border-radius: .5rem;
            padding: 1.5rem;
            display: flex;
            flex: 1/2;
            gap: 1rem;
            width: auto;

            .h4 {
                font-size: 1rem;
            }
        }
    }
}

.textFeature {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 5rem;
    text-transform: uppercase;

    .h2 {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .subSec {
        list-style: none;
        display: flex;
        flex-direction: column;
        height: 10dvh;
    }

    .subSec::before {
        content: '///';
    }
}

.ctaSec {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
    text-transform: uppercase;
    margin: 5rem 0;

    .card {
        display: flex;
        flex-direction: column;
        border-radius: .5rem;
        background: var(--color2);
        padding: 6rem;
        gap: 3rem;
        align-items: center;
        width: 50%;

        .h2 {
            font-size: 1.2rem;
            font-weight: 600;
        }

        .btn {
            border: .1rem solid #fff;
            padding: .5rem 1rem;
            border-radius: .5rem;
            transition: .3s all ease-in-out;
        }

        .btn:hover {
            scale: 1.2;
        }
    }
}

@media (max-width: 640px) {

    .heroSec {
        flex-direction: column-reverse;
        height: fit-content;
        gap: 5rem;

        .subSec {
            padding: 0;
        }

        .subSec:last-child {
            justify-content: center;
            /* height: calc(100% - 10rem); */
        }

        .subSec:first-child {
            .h1 {
                font-size: 2rem;
            }
        }
    }

    .featureSec {
        margin: 20rem 0 0 0;
    
        & .h1 {
            margin-bottom: -30rem;
            text-transform: capitalize;
            font-size: 1.7rem;
            font-weight: 600;
            color: var(--color2);
        }
    }

    .bFeatureSec{
        margin: 10rem 0;
        width: 100%;
        display: flex;
        flex-direction: column;

        .subSec{
        flex: 1;
        }
        .subSec:first-child{
            justify-content: center;
            .h3{
                padding: 0;
            }
        .subSec:last-child{width: 100%;display: flex;
            & .card{
                /* width: 100%; */
                flex: 1;
            }
        }
        }
    }

    .textFeature{
        margin-bottom: 10rem;
    }

    .ctaSec{
        .card {
            width: 100%;
        }
    }
}