@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color1: #6A32D9;
    --color2: #0CA2FF;
    --color3: #484848;
    --color4: #fff;

}
html{
    font-size: 16px;
    background: #000;
    color: #fff;
}
.header {
    width: 100%;
    z-index: 999;
    background-color: #ffffff13;
    border-bottom: 1px solid #d9d9d932;
    position: sticky;
    top: 0;
}


.btn {
    background: var(--color1);
    color: #fff;

    &:hover {
        background-color: var(--color3);
    }
}

nav {
    /* background: #fff; */
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

nav .logo {
    color: var(--color4);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 20px;
    display: inline-block;

    & :is(:hover, :visited) {
        color: currentColor;
        background: none;
    }
}

nav .logo span {
    color: var(--color1);
    font-weight: bold;
    font-size: 1rem;
    padding-left: 4px;
}

nav .logo span:hover {
    color: var(--color2);
}

nav ul {
    margin-left: auto;
    background: transparent;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;

    & :last-child {
        margin-right: 1rem;
    }
}

nav ul li a {
    color: var(--color4);
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;

    &:hover {
        background-color: var(--color1);
        color: #fff;
        transition: .3s ease-in-out;
    }
}



.checkbtn {
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    margin-top: 8px;
    position: absolute;
    right: 20px;
}

#check {
    display: none;
}


.main {
    padding: 3rem;
    display: flex;
    margin-top: 5rem;
    flex-direction: column;
    justify-content: flex-start;
    /* background-color: #484848; */
    /* align-items: center; */
}

.footer {
    width: 100%;
    padding: 1rem;
    border-top: .07rem solid #ddd;
    box-shadow: 0 -1px 15px rgba(0, 0, 0, 0.034);
}






/*--------------------*/
/* Smaller Screens width Styling Start */
@media (max-width: 858px) {
    label.logo {
        font-size: 1.5rem;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }

    .checkbtn {
        display: block;
        transition: all .35s ease-in-out;
        stroke: var(--color3);
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 5rem;
        transition: all .35s ease-in-out;
        padding-top: 2rem;
        left: -100%;
        text-align: center;
        z-index: 999;
    }

    nav ul li {
        display: block;
        margin: auto;
        line-height: 50px;
    }

    nav ul li a {
        color: #1F284F;
        font-size: 20px;
    }

    #check:checked~ul {
        left: 0;
        background: #fff;
    }
}